extends layout

block content
  .login_user_box
    p 
      |#{login_user}

  .gacha_img_container

  .count_box
    p#gacha_count

  .gacha_btn_box
    button(id="doLoadCard", name="doLoadCard", value="まわす")
      |まわす!!

  
