extends layout

block content
  .card_box_base#gacha_card
    .card_box
      .card_img
        img(src="")
      .card_name
        p#cardName

  .login_user_box
    p 
      |#{login_user}

  .gacha_img_container

  .count_box
    p#gacha_count

  .gacha_btn_box
    button(id="doLoadCard", name="doLoadCard", value="まわす")
      |まわす!!

  
